
$red: #f94144;
$brown: #f3722c;
$orange: #f8961e;
$yellow: #f9c74f;
$green: #90be6d;
$turquoise: #43aa8b;
$blue: #577590;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$white: $gray-200;
$black: $gray-900;

$primary: $turquoise;
$primary-dark: scale-color($primary, $lightness: -30%);
$secondary: $gray-700;
$secondary-dark: scale-color($secondary, $lightness: -30%);
$success: $turquoise;
$success-dark: scale-color($success, $lightness: -30%);
$danger: $red;
$danger-dark: scale-color($danger, $lightness: -30%);
$warning: $orange;
$warning-dark: scale-color($warning, $lightness: -30%);
$info: $yellow;
$info-dark: scale-color($info, $lightness: -30%);

$dark: $gray-900;
$light: $gray-200;

$inset: rgba($dark, 0.75);

$text-light: $gray-200;
$text-muted: $gray-600;