
html {
    background-color: $dark;
}

#root {
    background-color: $dark;
}

.card-body {
    background-color: $gray-800;
}

.card-header {
    background-color: $gray-700;
}

.card {
    background-color: $gray-800;
    color: $text-light;
}

.toast {
    background-color: $gray-800;
    color: $text-light;
}

.progress {
    background-color: $gray-900;
}

.fs-huge {
    font-size: $font-size-base * 5;
}

.fs-7 {
    font-size: $font-size-base * 0.75;
}

.fs-8 {
    font-size: $font-size-base * 0.65;
}

.text-inset {
    color: $inset;
}

.btn {
    color: $inset;
}

.btn-secondary {
    color: $light;
}

.gradient-panel-end {
    background-image: radial-gradient(farthest-side at 80% 50%, rgba($dark, 0.25), transparent);
    border-right: 1px solid $gray-800;
}