
.card-body {
    background-color: $gray-800;
}

.card-header {
    background-color: $gray-700;
}

.card {
    background-color: $gray-800;
    color: $text-light;
}

.toast {
    background-color: $gray-800;
    color: $text-light;
}

.text-dim {
    color: $gray-800;
}

.fs-7 {
    font-size: $font-size-base * 0.75;
}